@import "../../app.scss";

.about {
  height: 100%;
  padding: 1.5em;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;

    .textContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2.5em;

      @include tablet {
        text-align: center;
        align-items: center;
        gap: 1.25em;
      }

      h2 {
        font-size: clamp(1.5rem, 5vw, 2.25rem);
        font-weight: 700;
        margin-bottom: 0.75em;
      }

      a {
        color: orange;
      }

      p {
        font-size: clamp(1rem, 4vw, 1.35rem);
        line-height: 1.2;
      }

      .biography {
        max-width: 60ch;
      }

      .skillsContainer {
        display: flex;
        flex-direction: column;

        .skills {
          display: flex;
          flex-wrap: wrap;
          gap: 0.75em;

          * {
            flex: 1;
          }

          button {
            padding: 0.5em;
            font-size: 0.85rem;
            color: black;
            background-color: white;
            border: none;
            border-radius: 5px;

            @include mobile {
              padding: 0.25em;
            }
          }
        }
      }

      .certificatesLinks {
        display: flex;
        flex-direction: column;
        gap: 2em;
        font-size: clamp(1rem, 4vw, 1.125rem);
      }
    }
  }
}
