@import "reset.scss";

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #0c0c1d;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
  overflow: hidden;
}

@mixin mobile {
  @media (width < 738px) {
    @content;
  }
}

@mixin tablet {
  @media (width < 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (width < 1366px) {
    @content;
  }
}
